
body{
    background-image: url("https://i.pinimg.com/564x/89/ee/9c/89ee9c8029b0391484ba4f442cf60b77.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

h1{

    color:blueviolet, burlywood;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;

}.header {
    overflow: hidden;
    background-color: violet;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;

}

.header img{
    height: 50px;
    width: 50px;
}

.header a {
 float: left;
color: white;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px;
line-height: 25px;
border-radius: 4px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.header a.logo {
font-size: 25px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}





.header a[href="about.html"]:hover {
    background-color: rgb(255, 0, 183);
  
}

header a.active[href="about.html"],
header a[href="about.html"]:hover {
    background-color: darkslategray; 
    color: white;
}







.header-Right {
float: right;
}

.footer{
position:fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(243, 125, 245);
color: rgb(243, 228, 241);
text-align: center;
}
#content{
color: rgb(36, 0, 128);
text-align: justify;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 75px;
}